@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="well">I'm a patial view, shared between views in the <b>Home Feature</b></div>